
body{
    background-color: black;
    color: azure;
    font-style: oblique;
    font-size: larger;
}

div{
    width: 500px;
}

.welcome{
    margin: auto;
}
.flan{
    margin: auto;
}

.chicken{
    margin: auto;
}

.rice{
    margin: auto;
}
